<div class="container-fluid">
  <h2>Thanks you</h2>
  <!-- {{ myDate }} -->
  <h2>OrderNumber : 20200731001</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Items</th>
              <th>Quantity</th>
              <th>Price(THB)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div>toyname By brand</div>
                <div>gender age</div>
                <div>availability</div>
                <div>Delete</div>
              </th>
              <th>dropdown</th>
              <th>price</th>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Shipping Method: วิธีขนส่ง</p>
    </div>
    <div class="col-sm-6">
      <h3 id="order_summary"><b>Order Summary</b></h3>
      <p>Items:</p>
      <p>Shipping Fee:</p>
      <hr />
      <p id="total_price">Order Total</p>
    </div>
  </div>
  <br />
</div>
