<div class="container-fluid">
  <h2>Shipping Address</h2>
  <div class="form-group">
    <label for="fullname">Full name:</label>
    <input
      type="text"
      class="form-control"
      id="fullname"
      placeholder="Enter Full Name"
      name="fullname"
      required
    />
    <label for="address1">Address 1:</label>
    <input
      type="text"
      class="form-control"
      id="address1"
      placeholder="Enter Address 1"
      name="address1"
      required
    />
    <label for="address2">Address 2:</label>
    <input
      type="text"
      class="form-control"
      id="address2"
      placeholder="Enter Address 2"
      name="address2"
    />
    <div class="row">
      <div class="col-sm-4">
        <label for="city">City:</label>
        <input
          type="text"
          class="form-control"
          id="city"
          placeholder="City"
          name="city"
          required
        />
      </div>
      <div class="col-sm-4">
        <label for="province">Province:</label>
        <input
          type="text"
          class="form-control"
          id="province"
          placeholder="Province"
          name="province"
          required
        />
      </div>
      <div class="col-sm-4">
        <label for="postcode">Post code:</label>
        <input
          type="text"
          class="form-control"
          id="postcode"
          placeholder="Postcode"
          name="postcode"
          required
        />
      </div>
    </div>

    <br />
    <button type="button" class="btn" [routerLink]="['/payment']">
      Deliver to this address
    </button>
  </div>
</div>
